.container {
  display: flex;
  gap: .5rem;
  background-color: #363535;
  border-radius: .4rem;
  min-width: 40rem; 
  color: #fff;
  font-weight: bold;
}

.image {
  width: 14rem;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.titulo {
  color: #fff;
} .titulo:hover {
  color: #eddd4e;
}

.info {
  color: #979797;
}

.statusAlive, .statusDead, .statusUnknown {
  background-color: green;
  width: .7rem;
  height: .7rem;
  border-radius: 100%;
}
.statusDead {
  background-color: red;
}
.statusUnknown {
  background-color: gray;
}